# ignore system files
.DS_Store

# ignore python bytecode caches (regenerate on every import)
__pycache__/
*.pyc

#ignore venv specific stuff
.vscode/settings.json
.Rproj.user

# ignore big files
voe_gaze_combined.csv
data/leap_voe_data/gaze_heatmap_videos/
stimuli/pill_stimuli/
